<launch>
  <arg name="ns" default="jaime/arduino"/>
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" ns="$(arg ns)">
  <rosparam file="$(find arduino_controller)/config/rosserial.yaml" command="load"/>
  <remap from="batt_per" to="/jaime/battery_percent"/>
  </node>
</launch>



