<launch>

  <!-- Tipo de modelo standard|base -->
  <arg name="model_type" default="kobuki_standalone" />

  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find inka_description)/urdf/$(arg model_type).urdf.xacro'"/>

  <param name="robot_description" command="$(arg urdf_file)"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="5.0"/>
  </node>

</launch>
