<launch> <node pkg="nodelet" type="nodelet" args="manager"
        name="nodelet_manager" output="screen"/>

<node pkg="nodelet" type="nodelet" name="cloudify_sparse"
        args="load sparse_depth_image_proc/point_cloud_xyz nodelet_manager --no-bond">
    <remap from="image_rect" to="/camera/depth/image_raw"/>
    <remap from="points" to="/camera/depth/points_sparse"/>
    <remap from="camera_info" to="/camera/depth/camera_info"/>
  </node>

<node pkg="nodelet" type="nodelet" name="cloudify"
        args="load depth_image_proc/point_cloud_xyz nodelet_manager - -no-bond">
    <remap from="image_rect" to="/camera/depth/image_raw"/>
    <remap from="points" to="/camera/depth/points_real"/>
    <remap from="camera_info" to="/camera/depth/camera_info"/>
  </node> 

</launch>