<?xml version="1.0"?>
<launch>

    <param name="robot_description" command="$(find xacro)/xacro $(find jaime_description)/urdf/laser.xacro"/>
    
    <arg name="robot_name" default="robot_description"/>

    <!-- Launch Gazebo with empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="verbose" value="true"/>
    </include>

    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
     args="
        -urdf 
        -param $(arg robot_name) 
        -model laser"
     respawn="false" output="screen" />

</launch>