<?xml version="1.0" ?>
<robot name="jaime" xmlns:xacro="http://www.ros.org/wiki/xacro">


<link name="base_link">
  <!--
  <inertial>
    <origin xyz="0.007788124759933493 -0.007355769738403454 0.7107401090172263" rpy="0 0 0"/>
    <mass value="8.572188299348024"/>
    <inertia ixx="1.515422" iyy="1.498033" izz="0.132123" ixy="-0.0" iyz="5.1e-05" ixz="-0.001283"/>
  </inertial>
  -->
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://jaime_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="chassis_material">
      <color rgba="0.75 0.75 0.75 1.0"/>
    </material>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://jaime_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="base_footprint"/>

<joint name="base_footprint_joint" type="fixed">
  <parent link="base_link"/>
  <child link="base_footprint"/>
  <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

</robot>