<?xml version="1.0"?>
<robot name="jaime" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <ros2_control name="RobotSystem" type="system">
    <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <joint name="l3_to_l2">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="l4_to_l3">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="l5_to_l4">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="l6_to_l5">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="l7_to_l6">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
  
  <gazebo> 
    <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin"> 
      <parameters>$(find jaime_description)/config/ros2_controllers.yaml</parameters> 
    </plugin> 
  </gazebo>

  
</robot>